<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>R$ {{ produto.preco }}</td>
                <td>
                    <a href="{% url 'detalhes_produto' produto.id %}">Ver Detalhes</a> | <a href="{% url 'editar_produto' produto.id %}">Editar</a> |  <a href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'criar_produto' %}">Criar Novo Produto</a>
</body>
</html>