<html lang="pt-br">
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Página Inicial</title>
    </head>
    <body>
        <h1>E-Commerce</h1>
        
        <div class="button-container">
            <a href="{% url 'listar_produtos' %}">
                <button class="btn">Lista de Produtos</button>
            </a>
            <a href="{% url 'criar_produto' %}">
                <button class="btn">Novo Produto</button>
            </a>
        </div>
    </body>
</html>