{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-se</title>
</head>
<body>
    <h1>Registrar-se</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
    
    <a href="{% url 'login' %}"><button>Já tem uma conta? Faça login</button></a>
    <a href="{% url 'pagina_login' %}"><button>Voltar</button></a>
</body>
</html>