body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 15px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}


.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

/* Estilo comum para todos os botões */
.btn {
    background-color: #008CBA; /* Cor de fundo verde */
    color: white; /* Texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão */
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 200px; /* Largura fixa para os botões */
}

/* Efeito de hover (quando o mouse passa sobre o botão) */
.btn:hover {
    background-color: #005f73; /* Cor mais escura ao passar o mouse */
}

/* Ajuste para o layout */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
    margin-top: 20px;
}